body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}
.layer{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}
.layer .content-wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}
.layer .content-body{
    width: 25%;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
}
.top .content-body{
    text-align: left;
    top: 20%;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: #FDAB00;
}
.topright {
    position: absolute;
    text-align: right;
    width: 25%;
    right: 5%;
    bottom: 30%;
}
.top{
    background: #257;
    color: #eee;
    width:50vw;
    z-index: 2;
}
.top .content-body{
    position: absolute;
    left: 5%;   
    color: #eee;
}
.layer h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2em;
     color: #FDAB00;
}
.bottom{
    /* background: #222; */
    z-index:1;
    font-weight: 300;
}

.bottom .content-body{
    position: absolute;
    right: 5%;
    text-align: right;
    bottom: 20%;
}
.bottom h1{
    color: #FDAB00;
}
.botleft {
    position: absolute;
    left: 5%;
    top: 4%;
}
.layer img{
    position: absolute;
    width: 30%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.layer p {
    font-family: 'Jura', sans-serif;
}
.handle{
    position: absolute;
    height: 100%;
    display: block;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
    /* background: -webkit-linear-gradient(bottom, orange , yellow, green, cyan, blue, violet); */ /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet); */ /* For Opera 11.1 to 12.0 */
    /* background: -moz-linear-gradient(bottom, orange, yellow, green, cyan, blue, violet); */ /* For Firefox 3.6 to 15 */
    /* background: linear-gradient(bottom, orange , yellow, green, cyan, blue, violet); */
    /* background-color: #FDAB00; for solid color*/
    background: linear-gradient(60deg, #ff2400, #e8b71d,#1de840, #2b1de8, #dd00f3);
    -webkit-animation: rainbow 18s ease infinite;
    -moz-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;

}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.skewed .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}
.skewed .top{
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}
.skewed .top .content-wrap {
    transform: skew(30deg);
    margin-left: 1000px; 
}
@media(max-width:768px){
    body{
        font-size: 75%;
    }
}
.icons{
    position: absolute;
    right: 30px;
    top: 10px;
}
.linkedin{
    float: left;
    margin: 7px;
}
.github {
    margin: 7px;
    float: right;
}
#div1 {
    position: absolute;
    right: 60px;
    top: 20px;

    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 2s;
    animation-name: colorchange;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorchange {
    from {color: #222;}
    to {color: #eee;}
}

/* Standard syntax */
@keyframes colorchange{
    from {color: #222;}
    to {color: #eee;}
}
.top .footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 13vw;
    background: rgb(34, 32, 32);
}
.bottom .footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 13vw;
    background: #222;
    opacity: 0.8;
}
.footercontainer {
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.flex {
    width: 50vw;
}